@keyframes background-animation {
  0% {
    background-image: url('./img/lovers6.jpg');
  }
  25% {
    background-image: url('./img/lovers.jpg');
  }
 50% {
    background-image: url('./img/lovers2.jpg');
  }
  75% {
    background-image: url('./img/lovers3.jpg');
  }
  /* 100% {
    background-image: url('./img/green_heart.png');
  } */
 100% {
    background-image: url('./img/lovers5.jpg');
  }
}

@keyframes move-image {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.MainPage {
    text-align: center;
    font-family: Arial, sans-serif;
    animation: background-animation 15s ease-in-out infinite;
    background-repeat: no-repeat;
    background-size:cover;
}
.Myform{
  text-align: center;
}

.Title_area {
padding: 2px;
opacity: 80%;
color: chartreuse;
/* margin-bottom: 50px; */
}

.head_title {
color: chartreuse;
margin: 0%;
padding: 0%;
text-align:start;
}

.addUser-form {
margin-top: 20px;
}

.Input-area {
padding: 10px;
margin: 10px;
/* width: 300px; */
border: 1px solid #ccc;
border-radius: 3px;
font-size: 16px;
}

.Submit {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 3px;
cursor: pointer;
}

.Submit:hover {
background-color: #a400b3;
}


.Initial{
  animation: move-image 10s linear infinite;
  text-align: right;
}
* {
  font-family: 'Avenir';
}
.bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self:auto;
  color: #fff;
  /* margin-bottom:20px; */
}
.inlineContainer {
  display:inline-table;
}

.chat-container {
	max-width:fit-content;
	padding: 14px;
  margin: 6px 8px;
	background-color: #6C8EA4;
	border-radius: 16px 16px 16px 0;
	border: 1px solid #54788e;
  /* size:25%; */
  font-size:medium;
  white-space: pre-line;
}

.inlineContainer.own {
    min-width: fit-content;
    max-width: fit-content;
    /* padding: 14px 18px; */
    margin: 6px 8px;
    background-color: #6C8EA4;
    border-radius: 16px 16px 0px 16px;
    border: 1px solid #54788e;
    flex-direction: row-reverse;
}
.own {
	align-self: flex-end;
}
.message-time{
	align-self: flex-end;
  color:darkorchid;
  align-items: start;
}
.section{
text-align: left;
color: chartreuse;
}